@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 /* background:url('one-piece-anime-artwork-i6-3840x2400.jpg') no-repeat;
  background-size: cover;
  background-position: center;*/
  padding-bottom: 500px;
  }
  
  header{
    position: fixed;
    flex-direction:  row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 2px;
    background-color: #194265;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo{
   font-size: 2em;
   color: #fff;
   user-select: none;
  }
  
  .navigation a {
  position: relative;
  font-size: 1.1em;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  }
  
  .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
  
  
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigation a:hover::after{
    transform: scaleX(1);
  }
  
  .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
  }
  
  .navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
  }
  
  .wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
  }
  
  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }
  
  .wrapper .form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
  }
  .input-box, .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }

  .username, .email, .password, .btn {
    position: relative;
    border: 1px solid #162938;
    border-radius: 3px;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    
  }
  
  .remember-forgot, .login-register {
    margin-top: 20px;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #162938;
  }

  .remember-forgot label{
    display: flex;
  }

  .btn {
    transition: .5s;
  }

  .btn:hover {
    cursor: pointer;
  
    color: #fff;
    background-color: #162938;
  }

p {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: #162938;
 
}
.google-signin-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.google-signin {
  display: flex;
  width: 200px;
    height: 30px;
  font-weight: 500;
  font-size: 8px;
}

.google-signin:hover {
  cursor: pointer;
}
.google-signin .google {
  border: 2px solid  #162938;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: -3px;
  font-size: 10px;
}

.google-signin .icon {
  border: 2px solid  #162938;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-left: 6px;
  font-size: 20px;
  color: #162938;
}